{% extends '::base.html.twig' %}

{% block title %}
	TicketSystem
{% endblock %}

{% block body %}

	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Subject</th>
					<th>Status</th>
					<th>Option</th>
				</tr>
			</thead>
		{% for iKey, oCurTicket in aTicketSubject %}
			<tr>
				<td>{{ oCurTicket.getId }}</td>
				<td>{{ oCurTicket.getName }}</td>
				<td>{{ oCurTicket.getType }}</td>
				<td><a href="{{ path('panel_ticketsystem_detail', {'ticketid': oCurTicket.getId}) }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	</div>

{% endblock %}