{% extends '::base.html.twig' %}

{% block title %}
	TicketSystem New
{% endblock %}

{% block body %}
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="idSubject" class="control-label col-sm-3">Subject</label>
			<div class="col-sm-9">
				<input id="idSubject" type="text" name="subject" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="idCategory" class="control-label col-sm-3">Category</label>
			<div class="col-sm-9">
				<select id="idCategory" class="form-control" name="category">
					{% for iKey, oCurCatgory in aTicketCategory %}
						<option value="{{ oCurCatgory.id }}">{{ oCurCatgory.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="idMemo" class="control-label col-sm-3">Memo</label>
			<div class="col-sm-9">
				<textarea id="idMemo" class="form-control" name="memo"></textarea>
			</div>
		</div>
		<button type="submit" class="col-sm-9 col-xs-12 pull-right btn btn-primary">Submit</button>
		<div class="clearfix"></div>
	</form>
{% endblock %}