<section class="slice margin-bottom-20 hidden-xs hidden-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>
					<strong>{{ 'label_title'|trans }}</strong>
					{{ 'slice_text'|trans }}
				</h1>
			</div>
			<div class="col-md-4">
				<a class="btn btn-warning btn-lg pull-right" href="#" title="">
					<i class="fa fa-bolt"></i>
					{{ 'slice_button'|trans }}
				</a>
			</div>
		</div>
	</div>
</section>
<div class="clearfix margin-bottom-20 visible-sm visible-xs"></div>